@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

.bg-hero {
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta el tamaño de la imagen */
  background-position: center; /* Ajusta la posición de la imagen */
  /* Otras propiedades CSS si es necesario */
}



